nav ul,li{
    padding:0;margin:0;
}
nav ul li a{
    font-weight: 600;
    text-decoration: none;
    color: black!important;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ul li{
    list-style: none;
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li a:hover{
 color: #f8b922 !important;
}
.logo a img{
    width: 45%;
}
nav ul li a img{
    width: 70%;
}
#menu_circle:last-child{
    list-style: circle;
    color:black;
}