@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .spinner-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #febd23; /* Black */
    border-radius: 50%;
    animation: spinner 1.2s linear infinite;
    font-size: .9rem!important;
  }